body{
    display: block;
    margin: 8px;
    background-color: #393E46;
}

h1{
    margin: 30px 30px;
    font-size:  8rem;
    color: #4ECCA3;
    font-family: 'Lobster',cursive;
    text-shadow: 5px 0 #232931;

}


.first_container{
    text-align: center;
}
.dice{
    color:#4ECCA3;
    margin: 30px 0;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    display: inline-block;
}

footer{
    text-align: center;
    color: #EEEEEE;
    font-family:'Indie Flower', cursive;
}